/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content_container {
  margin: 5px;
}

.container__form {
  display: flex;
  gap: 1px;
}

.btn {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.list__item {
  display: flex;
  font-size: 30px;
}

.item__btn {
  font-weight: 600;
}

.item__btn:hover {
  cursor: pointer;
}

.item__btn.btn-close,
.filter__label {
  width: 40px;
  font-size: 20px;
}

input.btn.filter_input {
  margin-top: 5px;
}

.container__filter {
  margin-bottom: 5px;
}
